<div class="container-fluid intro">
  <div class="row">
    <h1 class="mt-4">GAVE</h1>
    <h2>Galeria de Artes Virtual Estudantil</h2>
    <p>Bem-vindos à GAVE! Aqui você encontra um espaço destinado a exposição de trabalhos de artes visuais, bem como a possibilidade de discutir sobre os trabalhos
      expostos e outros assuntos relevantes em nosso fórum.
    </p>
    <p>Clique no botão abaixo para visitar as exposições mais recentes.</p>
  </div>
  <a class="btn btn-primary mb-5" routerLink="/exposicoes">Visitar exposições</a>
</div>
<div class="container-fluid chamada-forum">
  <div class="row">
    <h2 class="mt-4">Visite nosso fórum</h2>
    <p>Nele você poderá ver as mensagens e tópicos de discussão criados por nossos usuários.</p>
  </div>
  <a class="btn btn-primary mb-5"  routerLink="/forum">Acessar fórum</a>
</div>
