/* expos.exposicoesComponent's private CSS styles */
.exposicoes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 40em;
}

.exposicoes li.selected {
    background-color: black;
    color: white;
}
