<div class="container">
    <h2>Criar Tópico</h2>
    <form [formGroup]="formGroup" novalidate (ngSubmit)="enviar(formGroup)">
        <fieldset [disabled]="enviando">
            <label for="titulo">Título</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="Título do tópico" required>
            </div>
            <div *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)" class="warning">
              <div *ngIf="titulo?.errors?.['required']">
                O título do tópico é obrigatório
              </div>
            </div>
            <label for="conteudo">Mensagem</label>
            <div class="input-group mb-3">
                <textarea class="form-control" id="conteudo" formControlName="conteudo" placeholder="Escreva sua mensagem" required></textarea>
            </div>
            <div *ngIf="conteudo?.invalid && (conteudo?.dirty || conteudo?.touched)" class="warning">
              <div *ngIf="conteudo?.errors?.['required']">
                É obrigatório cadastrar a primeira mensagem do tópico.
              </div>
            </div>
            <div>
                <button class="btn btn-primary btn-user" type="submit" [disabled]="!formGroup.valid">Enviar</button>
                <button class="btn btn-secondary btn-user" type="button" (click)="back()">Voltar</button>
            </div>
        </fieldset>
    </form>
</div>
