.imagem-artista{
    width: 200px;
    height: 150px;
}

.imagem-selecionador{
  width: 100px;
  height: 70px;
}

.lista-trabalhos-selecionador{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-trabalho{
  display: flex;
  align-items: center;
  justify-content: center;
  //flex-direction: column;
}

mat-list-option{
  height: 100px !important;
  padding: 0;

}

.espaco{
  margin: 15px;
}

.warning{
  margin-left: 0.2em;
  color: #951d32;
  font-size: small;
  margin-top: -10px;
}

.mensagens-avisos{
  color: #7a2700;
  background-color: #f5e7cb;

}

.card-borda{
  border: 1px solid #636363;
}

.lista-trabalhos{
  background-color: white;
}

.selecao-trabalhos{
  margin-top: 10px;
  margin-left: 5px;
  color: #222f80;
  font-weight: bold;
}


