.card-mensagem{
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 0 5px;
}

.card-autor-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

h2 {
  margin-top: 20px;
}
