


<!--Falta acrescentar a visualização do usuário criador das mensagens e da data de criação das mensagens. A interface (mensagem.ts) já está adequada-->

<div class="container">
  <h2>{{topico?.titulo}}</h2>
  <div *ngFor="let mensagem of mensagens" class="card-mensagem">
    <p> {{mensagem.conteudo}}</p>
    <div class="card-autor-data">
      <small> Autor: {{mensagem.usuario}}</small>
      <small> Data: {{mensagem.data | date : 'dd/MM/yyyy'}}</small>
    </div>
  </div>
  <div>
    <form *ngIf="usuario" [formGroup]="formGroup" (ngSubmit)="addMensagem(formGroup)">
      <div class="input-group mb-3">
        <textarea class="form-control" id="conteudo" formControlName="conteudo" placeholder="Responda a este tópico" required></textarea>
      </div>
      <button class="btn btn-primary btn-user" type="submit">Enviar mensagem</button>
    </form>
    <p *ngIf="!usuario">Faça o login para poder responder a esse tópico.</p>

  </div>
</div>
